<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/menu/tools/tools.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelementplayer.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/menu/music/music.css' %}">
</head>
<body>
    <div class="menu-container">
        <div class='left-bar'>
            <div class='img-bar'>
                <a href="/">
                    <img src="{% static 'image/logo.png' %}" alt="Logo">
                </a>
            </div>
            <div class='item-container'>
                <div class='item-icon'>
                    <div class='icon'>
                        <i class="fas fa-toolbox"></i>
                    </div>
                    <h2>Music</h2>
                    <p>Soft Music</p>
                </div>
                <div class="btn-menu">
                    <a style="text-decoration: none" href="{% url 'menu'%}" >
                        <button type="button"><span></span>Back&nbsp;></button>
                    </a>
                </div>
            </div>
        </div>
        <div id="music-container">
            
            <div id="music-dashboard">
                {% for item in page_obj %}
                    <div id="cd-box">
                        <img id="cd" src="{{item.image.url}}" alt="cd">
                    </div>

                    <p id="music-name">{{item.title}}</p>
                    <p id="music-artist">{{item.artist}}</p>

                    <div class="lecteur">
                        <audio class="fc-media" style="width: 100%;" autoplay>
                            <source src="{% if item.audio_file %}{{item.audio_file.url}} {% else %} {{item.audio_link}} {% endif %}" type="audio/mp3" />
                        </audio>
                    </div>
                    <center>
                        <a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}"><i
                                class="fa fa-step-backward fa-2x" id="song-previous-btn"></i></a>
                        &nbsp; &nbsp; &nbsp;
                        <a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }} {% endif %}"><i
                                class="fa fa-step-forward fa-2x" id="song-forward-btn"></i></a>
                    </center>
                {% endfor %}
            </div>
            
            <div id="music-list">
                <h2>Music List</h2>
                {% if song_list %}
                <ul>
                    {% for song in song_list %}
                    <a href="?page={{song.stt}}" id="song-link">
                        <li class="song-index">
                            <div class="song-infomation">
                                <p id="song-title">{{song.title}}</p>
                                <p id="song-artist">{{song.artist}}</p>
                            </div>
                        </li>
                    </a>
                    {% endfor %}
                </ul>
                {% else %}
                    <p>No song in the library.</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>

<!-- partial -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelement-and-player.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>