.container-form-signup{
    text-align: center;
}
.content-form-signup{
    display: inline-flex;
    width: 60%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content-form-signup h2{
    color: #211513;
    font-size: 30pt;
    flex-basis: 100%;
}
.input-container-signup{
    align-items: center;
    margin-top: 5%;
    background: rgba(33, 21, 19, 0.2);
    border-radius: 50px;
    padding: 2.5% 0;
    overflow: hidden;
    flex-basis: 45%;
}
.input-container-signup i{
    font-size: 18pt;
    padding-left: 15px;
}
.input-container-signup input{
    font-size: 15pt;
    padding: 0 15px;
    color: #211513;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    outline: none;
}
.input-container-signup input::placeholder{
    border: none;
    background-color: transparent;
    color: #211513;
}
.frame-btn{
    width: 100%;
}
.btn{
    display: inline-block;
    margin-top: 5%;
    background: #FB646B;
    border-radius: 50px;
    border-color: #FB646B;
    color: #FFFFFF;
    font-size: 15pt;
    font-weight: 600;
    padding: 12px 90px;
}
