*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: #211513;
}
.container{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(40, 47, 65, 0.7), rgba(40, 47, 65, 0.7)),  url("../../../image/background/hillDigital.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -100;
    box-sizing: border-box;
    overflow: auto;
}
/* ---------------------------Logo------------------------ */
.container-logo{
    display: block;
    text-align: center;
}
.container-logo img{
    width: 20%;
    margin: 15px 0;
}
/* ---------------------------Music bar------------------------ */
.container-music{
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-left: none;
    border-right: none;
    display: flex;
    align-items: center;
}
.quick-player{
    width: 20% ;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    margin: 0 3%;
}
.quick-player i {
    margin: 0 6.5%;
    color: #A2A1FF;
}
.music-content{
    overflow: hidden;
    width: 80%;
    margin: 5px 0;
}
.music-content h2{
    color: #FFFFFF;

}
/* ---------------------------Main------------------------ */
.container-main{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}
/* ---------------------------Tool------------------------ */
/* ----------------btn-choose-name------------ */
.container-tools{
    width: 40%;
}
.tool-choose-name{
    margin: 2% 5%;
}
form{
    display: inline-block;
    background-color: transparent;
}
.choose{
    margin: 5% 0;
    background-color: #5D6EB4;
    border-radius: 10px;
    padding: 15px 1.5vw;
}
.choose label{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    margin-right: 2.5vw;
}
.type-sub{
    display: flex;
}
#text-type{
    background: #C4C4C4;
    border-radius: 10px 0px 0px 10px;
    padding: 9px 1vw;
    outline: none;
    font-size: 18px;
    border: none;
}
#text-type::placeholder{
    color: #211513;
    font-size: 15px;
}
#sub-type{
    border: none;
    outline: none;
    background: #6563FF;
    border-radius: 0px 10px 10px 0px;
    padding: 0  1vw;
    color: #FFFFFF;
    font-size: 15pt;
    font-weight: 600;
}
/* ----------------Frame-users------------ */
.frame-user{
    margin-top: 30px;
    display: block;
    overflow: auto;
    min-height: 15vh;
    padding: 1vh 0;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    width: 40%;
    min-height: 30px;
}
table{
    min-height: 20vh;
    overflow: auto;
}
.row-user{
    align-items: center;
}
.row-user td{
    padding: 0 1vh;
}
.td-dote i{
    color: #14C37A;
    font-size: 5pt;
}
.td-icon-user i{
    color: #A2A1FF;
    font-size: 15pt;
}
.td-name p{
    color: #FFFFFF;
}
/* ----------------Choose-background------------ */
.choose-background{
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    min-height: 20vh;
}
.content-cb{
    text-align: center;
    
}
.content-cb h3{
    display: inline-block;
    color: #FFFFFF;
    font-size: 12pt;
    font-weight: 400;
    border-bottom: 3px solid #FFFFFF;
    padding: 1vh 0;
}
.drop-btn{
    margin: 2vh 2vw;
    background-color: transparent;
}
.drop-btn input{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 15pt;
}
.drop-btn input::placeholder{
    font-size: 15pt;
    font-weight: 500;
    color: #FFFFFF;
}
/* ---------------------------Chat------------------------ */
.container-chat{
    width: 60%;
    background-color: rgba(21, 25, 30, 0.5);
}
.header-chat{
    min-height: 5vh;
}
.logo-chat{
    display: inline-block;
}
.logo-chat i{
    font-size: 15pt;
}
/* ------------------------------footer--------------------- */
.container-footer{
    min-height: 5vh;
    bottom: 0;
    left: 0;
    text-align: center;
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
}
.container-footer h3{
    padding-top: 2vh;
    color: #FFFFFF;
    font-size: 12pt;
    font-weight: 400;
}