*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: #211513;
}
.container{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(40, 47, 65, 0.7), rgba(40, 47, 65, 0.7)),  url("../../../image/background/hillDigital.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -100;
    box-sizing: border-box;
    overflow: auto;
}
/* ---------------------------Logo------------------------ */
.container-logo{
    display: block;
    text-align: center;
}
.container-logo img{
    width: 20%;
    margin: 15px 0;
}
/* ---------------------------Music bar------------------------ */
.container-music{
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-left: none;
    border-right: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}
.quick-player{
    width: 20% ;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    margin: 0 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    position: relative;
}
.quick-player i {
    margin: 0 6.5%;
    color: #A2A1FF;
    z-index: 1000;
}
.quick-player i:hover {
    cursor: pointer;
}
.quick-player #play-btn {
    display: none;    
}
.music-content{
    overflow: hidden;
    width: 80%;
    margin: 5px 0;
}
.music-content h2{
    color: #A2A1FF;
    font-size: medium;
    overflow: hidden;
}
#another-audio-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    margin-right: 25px;
}

*:focus{
    outline: none;
}
.mejs__offscreen , .mejs__mediaelement, .mejs__layers {
    display: none;
}
.lecteur {
    /* width: 100%; */
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    left: 0;
}
.mejs__container {
    position: relative;
    background-color: none;
    background: none;
    min-width: auto !important;

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.mejs__controls {
    background: none !important;
    display: block;
    position: relative;

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.mejs__controls div {
    display: block;
    /* float: left; */
    position: relative;
}
.mejs__controls .mejs__volume-button button {
    display: block;
    width: 40px;
    height: 40px;
    border: 0;
    font-family: FontAwesome;
    font-size: 16px;
    color: #A2A1FF;
    background: transparent;
    margin: 0;
    padding: 0;
}
.mejs__controls .mejs__mute button:before {
    content: "\f028";
}
.mejs__controls .mejs__unmute button:before {
    content: "\f026";
}
.mejs__controls .mejs__volume-button {
    position: relative;
    width: 40px;
    height: 40px;
}
.mejs__controls .mejs__volume-button button:hover {
    cursor: pointer;
}
.mejs__controls .mejs__horizontal-volume-slider {
    display: block;
    position: relative;
    width: 100px;
    height: 4px;
    border-radius: 50px;
    line-height: 11px;    
}
.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-total,
.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-current {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.1);    
}
.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-current {
    background: #A2A1FF;
}

/* ---------------------------Main------------------------ */
.container-main{
    display: flex;
    width: 100%;
    position: relative;
}
/* ---------------------------Tool------------------------ */
/* ----------------btn-choose-name------------ */
.container-tools{
    width: 40%;
}
.tool-choose-name{
    margin: 2% 5%;
}
form{
    display: inline-block;
    background-color: transparent;
}
.choose{
    margin: 5% 0;
    background-color: #5D6EB4;
    border-radius: 10px;
    padding: 15px 1.5vw;
}
.choose label{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    margin-right: 2.5vw;
}
.type-sub{
    display: flex;
}
#text-type{
    background: #C4C4C4;
    border-radius: 10px 0px 0px 10px;
    padding: 9px 1vw;
    outline: none;
    font-size: 18px;
    border: none;
}
#text-type::placeholder{
    color: #211513;
    font-size: 15px;
}
#sub-type{
    border: none;
    outline: none;
    background: #6563FF;
    border-radius: 0px 10px 10px 0px;
    padding: 0  1vw;
    color: #FFFFFF;
    font-size: 15pt;
    font-weight: 600;
}
/* ----------------Frame-users------------ */
.frame-user{
    margin-top: 30px;
    display: block;
    min-height: 15vh;
    padding: 1vh 0;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    width: 40%;
    min-height: 30px;
}
table{
    min-height: 20vh;
    overflow-y: scroll;
}
.row-user{
    align-items: center;
}
.row-user td{
    padding: 0 1vh;
}
.td-dote i{
    color: #14C37A;
    font-size: 5pt;
}
.td-icon-user i{
    color: #A2A1FF;
    font-size: 15pt;
}
.td-name p{
    color: #FFFFFF;
}
/* ----------------Choose-background------------ */
.choose-background{
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    min-height: 20vh;
}
.content-cb{
    text-align: center;
    
}
.content-cb h3{
    display: inline-block;
    color: #FFFFFF;
    font-size: 12pt;
    font-weight: 400;
    border-bottom: 3px solid #FFFFFF;
    padding: 1vh 0;
}
.drop-btn{
    margin: 2vh 2vw;
    background-color: transparent;
}
.drop-btn input{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 15pt;
}
.drop-btn input::placeholder{
    font-size: 15pt;
    font-weight: 500;
    color: #FFFFFF;
}
/* ---------------------------frame Chat------------------------ */
.container-chat{
    width: 55%;
    background-color: rgba(21, 25, 30, 0.5);
    margin: 0 ;
}
.header-chat{
    height: 60px;
    max-height: 60px;
    background: rgba(21, 25, 30, 0.7);
    display: flex;
    width: 100%;
}
.logo-chat{
    background: rgba(101, 99, 255, 0.65);
    min-height: inherit;
    width: 8.5%;
    display: flex;
    align-items: center;
}
.logo-chat i{
    font-size: 25pt;
    color: #FFFFFF;
    margin: 0 auto;
}
.name-room{
    width: 90%;
    min-height: inherit;
    display: flex;
    align-items: center;
}
.name-room h2{
    padding-left: 3vw;
    font-size: 25pt;
    font-weight: 600;
    color: #FFFFFF;
    align-items: center;
}
/* ----------chat-box------------- */
.chat-box{
    height: 395px;
    max-height: 395px;
    padding: 10px 30px 20px 30px ;
    overflow-y: auto;
}
.message-incoming{
    display: flex;
    max-width: calc(100% - 30%);
    margin-right: auto;
}
.icon-user-name i{
    font-size: 22pt;
    color: #C1C0FF;
}
.container-name-detail{
    margin: 8px 15px;
}
.name-user p{
    font-size: 16pt;
    font-weight: 600;
    color: #FFFFFF;
}
.detail-incoming{
    background: rgba(93, 110, 180, 0.7);
    border-radius: 0px 50px 50px 30px;
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%), 0 16px  16px -16px rgb(0 0 0 / 10%);
}
.detail-incoming p{
    color: #FFFFFF;
    font-size: 16pt;
    font-weight: 300;
    word-wrap: break-word;
}
.massage-outgoing{
    display: flex;
    max-width: calc(100% - 30%);
    margin-left: auto;
    flex-direction: row;
    justify-content: flex-end;
}
.massage-outgoing .name-user{
    margin-left: auto;
    text-align: right;
}
.detail-outgoing{
    background: rgba(250, 190, 182, 0.5);
    border-radius: 50px 0px 30px 50px;
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%), 0 16px  16px -16px rgb(0 0 0 / 10%);
}
.detail-outgoing p{
    color: #FFFFFF;
    font-size: 16pt;
    font-weight: 300;
    word-wrap: break-word;
}
/* --------------typing area------------ */
.container-typing-area{
    background: rgba(196, 196, 196, 0.3);
    height: calc(100% -70%);
    min-height: 60px;
    width: 100%;
}
.typing-area{
    width: 100%;
    align-items: center;
    display: flex;
    min-height: inherit;
}
.typing-area input{
    font-size: 20pt;
    width: 90%;
    margin-left: 2.5vw;
    background-color: transparent;
    outline: none;
    border: none;
}
.typing-area input::placeholder{
    color: #FFFFFF;
}
.btn-messager-submit{
    width: 10%;
}
.btn-messager-submit i{
    font-size: 30pt;
    color: #FFFFFF;
}
/* ------------------------------footer--------------------- */
.container-footer{
    min-height: 5vh;
    bottom: 0;
    left: 0;
    text-align: center;
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
}
.container-footer h3{
    padding-top: 2vh;
    color: #FFFFFF;
    font-size: 12pt;
    font-weight: 400;
}