.profile-container {
    width: 100%;
    color: #211513;
    text-align: center;
}
.profile{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75));
    box-shadow: 0 0 17px #333;
    border-radius: 50px;
    height: 55vh;
    width: 40%;
    margin:0 auto;
    padding: 2% 0;
}
#title-profiles {
    font-weight: bold;
    font-size: x-large;
    border-bottom-width: 1px;
    border-bottom-color: gray;
    position: relative;
    text-decoration: none;
    padding: 0 15%;
}
#title-profiles::after{
    position:absolute;
    content: '';
    width: 80%;
    height: 3px;
    bottom: -3vh;
    text-align: center;
    background-color: #211513;
    left: 10%;
}
.contents-profile{
    margin-top: 9%;
}
.contents-profile p{
   margin: 1% 0;
   font-size: 18pt;
}

@media (max-width: 650px) {
    .profile {
        height: fit-content;
    }

    #title-profiles, .contents-profile p {
        font-size: small;
    }

    .contents-profile {
        padding: 15% 0;
    }
}


