<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Chat</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/menu/chat/chat.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>
<body>
    <header class="row">
        <div class="container-header">
            <div class="container-logo-child">
                <img src="{% static 'image/logoWhite.png' %}" alt="Logo">
            </div>
            <div class="title-page">
                <h1>CHAT - ANONYMOUS</h1>
            </div>
        </div>
    </header>
    <div class="contents row">
        <article>
            <div class="frame-chat">
                <h1></h1>
            </div>
        </article>
        <aside>
            <div class="frame-user"">
                <h1></h1>
            </div>
        </aside>
    </div>
    <footer class="row"></footer>
</body>
</html>