<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Chat</title>

    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/menu/chat/chat.css' %}">
</head>
<body>
    <div class='container' id="get-background">
        <div class='container-logo'>
            <img src="{% static 'image/logoChat.png' %}" alt="Logo">
        </div>
        <div class='container-music'>
            {% for item in page_obj %}
                <div class='quick-player'>                
                    <div class="lecteur">
                        <!-- Cách 1 -->
                        <audio class="fc-media" id="myAudio" style="width: 100%;" src="{% if item.audio_file %}{{item.audio_file.url}} {% else %} {{item.audio_link}} {% endif %}" autoplay>
                        </audio>

                        <!-- Cách 2 -->
                        <!-- <audio class="fc-media" id="myAudio" style="width: 100%;" autoplay>
                            <source src="{% if item.audio_file %}{{item.audio_file.url}} {% else %} {{item.audio_link}} {% endif %}" type="audio/mp3" />
                        </audio> -->
                    </div>
                    <div id="another-audio-btn">
                        <a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}">
                            <i class="fas fa-step-backward" id="song-previous-btn"></i>
                        </a>
                        <i class="fas fa-play" id="play-btn"></i>
                        <i class="fas fa-pause" id="pause-btn"></i>
                        <a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }} {% endif %}">
                            <i class="fas fa-step-forward" id="song-forward-btn"></i>
                        </a>
                    </div>
                </div>
                <!-- <div class='quick-player'>
                    <i class="fas fa-volume-up"></i>
                    <i class="fas fa-step-backward"></i>
                    <i class="fas fa-step-forward"></i>
                </div> -->
                <div class='music-content'>
                    <h2>You are listening to the song: {{ item.title }} - {{ item.artist }}</h2>
                </div>
            {% endfor %}
        </div>
        <!-- ------------------------------------------------------------ -->
        <div class='container-main'>
             <!-- ------------------------------tools------------------------------ -->
            <div class='container-tools'>
                 <!-- ---------------------------btn choose name--------------------------------- -->
                <div class='tool-choose-name'>
                    <form action=".">
                        <div class="choose">
                            <input type="radio"  name="choose01" value="Nickname" checked>
                            <label for="choose01">Use your nickname</label><br>
                        </div>
                        <div class='choose'>
                            <input type="radio"  name="choose01" value="NewName">
                            <label for="choose01">Use a different name</label><br>
                        </div>
                        <div class='type-sub'>
                            <input id='text-type' type="text" for='choose01' placeholder="Type new name">
                            <button id='sub-type' onclick="getNewName()">Use</button>
                        </div>
                      </form>
                </div>
                 <!-- -------------------------------frame user--------------------------- -->
                <div class='frame-user'>
                    <table>
                        <tbody>
                            <tr class='row-user'>
                                <td class="td-dote"><i class="fas fa-circle"></i></td>
                                <td class='td-icon-user'><i class="fas fa-user-tie"></i></td>
                                <td class='td-name'><p>nickname</p></td>
                            </tr>
                            <tr class='row-user'>
                                <td class="td-dote"><i class="fas fa-circle"></i></td>
                                <td class='td-icon-user'><i class="fas fa-user-tie"></i></td>
                                <td class='td-name'><p>bibichanel</p></td>
                            </tr>
                            <tr class='row-user'>
                                <td class="td-dote"><i class="fas fa-circle"></i></td>
                                <td class='td-icon-user'><i class="fas fa-user-tie"></i></td>
                                <td class='td-name'><p>nickname123</p></td>
                            </tr>
                            <tr class='row-user'>
                                <td class="td-dote"><i class="fas fa-circle"></i></td>
                                <td class='td-icon-user'><i class="fas fa-user-tie"></i></td>
                                <td class='td-name'><p>Alice</p></td>
                            </tr>
                            <tr class='row-user'>
                                <td class="td-dote"><i class="fas fa-circle"></i></td>
                                <td class='td-icon-user'><i class="fas fa-user-tie"></i></td>
                                <td class='td-name'><p>Bob</p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                 <!-- ---------------------------------choose background--------------------------- -->
                <div class= 'choose-background'>
                    <div class="dropdown">
                        <button class="dropbtn">Choose Background</button>
                        <div class="dropdown-content">
                            {% for item in images %}
                                <a onclick="changeBackgroundUser('../../../relax/media/{{item.photo}}')" >{{item.title}}</a>
                            {% endfor%}
                        
                        </div>
                    </div>
                </div>
            </div>
             <!-- --------------------------------frame chat---------------------------- -->
            <div class='container-chat'>
                <div class='header-chat'>
                    <div class='logo-chat'>
                        <i class="far fa-comments"></i>
                    </div>
                    <div class='name-room'>
                        <h2>Anonymous chat room</h2>
                    </div>
                </div>
                <!-- ------------------------- -->
                <div class="chat-box"  id='chat-messages'>
                    {% for item in messages %}
                    {% if item.username.username == user.username %}
                    <div class="massage-outgoing">
                        <div class="container-name-detail">
                            <div class="name-user"><p>{{ item.usernameAnonymous }}</p></div>
                            <div class="detail-outgoing"><p>{{ item.content }}</p></div>
                        </div>
                        <div class="icon-user-name">
                            <i class="far fa-user"></i>
                        </div>
                    </div>
                    {% else %}
                    <div class="message-incoming">
                        <div class="icon-user-name">
                            <i class="far fa-user"></i>
                        </div>
                        <div class="container-name-detail">
                            <div class="name-user"><p>{{ item.usernameAnonymous }}</p></div>
                            <div class="detail-incoming"><p>{{ item.content }}</p></div>
                        </div>
                    </div>
                    {% endif%}
                    {% endfor %}

                </div>
                <!-- ------------------------- -->
                <div class="container-typing-area">
                    <form action="." class='typing-area'>
                        <input type="text" name="" id="chat-massager-input" placeholder="Typing a message here ..." onkeydown="return keyEnterMessager(event)">
                        <a class ='btn-messager-submit' id='chat-massager-submit'><i class="fab fa-telegram-plane"></i></a>
                    </form>
                </div>
            </div>
        </div>
        <!-- ------------------------------------------------------------ -->
        <div class='container-footer'>
            <h3>relax.it@gmail.com</h3>
        </div>
    </div>
    <section>
        {{ room_name|json_script:"json-roomname" }}
        {{ user.nickname|json_script:"json-nickname" }}
        {{ user.username|json_script:"json-username" }}
    </section>
</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'js/chat.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelement-and-player.min.js"></script>
