<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Room</title>
</head>
<body>
    <div class="box">
        <div id='chat-messages' style="overflow-y: scroll;">
            {% for item in message %}
            <b>{{ item.username }}</b>
            <b>: {{ item.content }}</b>
            {% endfor %}
        </div>
    </div>
    <br>What chat room would you like to enter?<br>
    <input class='input' placeholder="Messager" id="chat-massager-input" type="text" size="100"><br>
    <a class='button' id='chat-massager-submit'> Submit </a>
    <small class='has-text-grey-light'>Your username: {{ username }}</small>

    <section>
        {{ room_name|json_script:"json-roomname" }}
        {{ username|json_script:"json-username" }}
    </section>
    <script>
        function scrollToBottom(){
            let objDiv = document.getElementById("chat-messages");
            objDiv.scrollTop = objDiv.scrollHeight;
        };
        scrollToBottom();

        const _roomName = JSON.parse(document.getElementById('json-roomname').textContent);
        const _username = JSON.parse(document.getElementById('json-username').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/'
            + _roomName
            + '/'
        );
        chatSocket.onmessage = function(e){
            console.log('onmessage');

            const data = JSON.parse(e.data);

            if(data.message){
                document.querySelector('#chat-messages').innerHTML += ('' + data.username + ': ' + data.message + '');
                document.querySelector('#chat-messages').innerHTML += ('' + data.username + ': ' + data.message + '');
            }
            else{
                alert('The message is empty!');
            }
            scrollToBottom();
        };
        chatSocket.onclose = function(e) {
            console.log('The socket close');
        }

        document.querySelector('#chat-massager-submit').onclick = function(e){
            const messageInputDom = document.querySelector('#chat-massager-input');
            const message = messageInputDom.value;

            chatSocket.send(JSON.stringify({
                'message': message,
                'username': _username,
                'room': _roomName
            }));

            messageInputDom.value = ''
        };
    </script>
</body>
</html>