<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Snake Game</title>

    {% load static %}
    <link rel="shortcut icon" href="/static/image/snakegame-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Antic+Slab" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/menu/tools/snakegame.css' %}">
</head>

<body>
    <a style="text-decoration: none" href="{% url 'tools' %}">
        <button id="back-to-tools">Back</button>
    </a>    
    <div id="settings-form">
        <p>Settings</p>
        <div>
            <label for="snakeboard_width">Width:</label>
            <input type="number" id="snakeboard_width" name="width" min="400" max="1300">
        </div>
        <div>
            <label for="snakeboard_height">Height:</label>
            <input type="number" id="snakeboard_height" name="height" min="200" max="500">
        </div>        
        <button id="play-btn">Start</button>
    </div>
    <div id="snakegame">
        <p id="current-score">Score: 0</p>
        <canvas id="snakeboard"></canvas>
    </div>
    <div id="game-over">
        <p id="game-over-title">Game Over</p>
        <p id="total-score">Your current score: </p>
        <!-- <p id="highest-score">Your highest score: </p> -->
        <div>
            <button id="back-to-settings-btn">Back to Settings</button>
            <button id="replay-btn">Chơi lại</button>
        </div>
    </div>
</body>

<script src="{% static 'js/snakegame.js' %}"></script>

</html>
