<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Tool</title>

    {% load static %}
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/menu/tools/tools.css' %}">
    
</head>
<body>

    <div class="content">
        <div class="menu-container">
            <div class='left-bar'>
                <div class='img-bar'>
                    <a href="/">
                        <img src="{% static 'image/logo.png' %}" alt="Logo">
                    </a>
                </div>
                <div class='menu-bar'>
                    <div class='item-container'>
                        <div class='item-icon'>
                            <div class='icon'>
                                <i class="far fa-smile"></i>
                            </div>
                            <h2>Tools</h2>
                            <p>Play To Relax</p>
                            <div class="btn-menu">
                                <a style="text-decoration: none" href="{% url 'menu'%}" >
                                    <button type="button"><span></span>Back ></button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-tool" id="content-tool">
                <div class="skill">
                    <div class="outer">
                        <div class="inner"></div>
                    </div>
                </div>


                <!-- <table class="table-tool">
                    <tr class="row-0 border-bottom-rows">
                        <td class="col-tool border-right-col">
                            <p class="tool-name">Daijoubu</p>
                            <p><em>Mô tả</em>: Khi nhấn vào nút này, mọi thứ thuộc về bạn sẽ daijoubu ngay và luôn.</p>
                        </td>
                        <td class="col-tool">
                            <button onclick="daijoubuStart()">Daijoubu</button>
                        </td>
                    </tr>
                    <tr class="row-0 border-bottom-rows">
                        <td class="col-tool border-right-col">
                            <i class="far fa-clock"></i>
                            <p>Tic Tac</p>
                        </td>
                        <td class="col-tool">
                            <i class="far fa-keyboard"></i>
                            <p>Click</p>
                        </td>
                    </tr>
                    <tr class="row-0 border-bottom-rows">
                        <td class="col-tool border-right-col">
                            <i class="far fa-clock"></i>
                            <p>Tic Tac</p>
                        </td>
                        <td class="col-tool">
                            <i class="far fa-keyboard"></i>
                            <p>Click</p>
                        </td>
                    </tr >
                    <tr class="row-0">
                        <td class="col-tool border-right-col">
                            <i class="far fa-clock"></i>
                            <p>Tic Tac</p>
                        </td>
                        <td class="col-tool">
                            <i class="far fa-keyboard"></i>
                            <p>Click</p>
                        </td>
                    </tr>
                </table> -->
            </div>
        </div>
    </div>
</body>
</html>

<script src="{% static 'js/tools.js' %}"></script>