<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tool</title>

    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Antic+Slab" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/menu/tools/tools.css' %}">
</head>

<body>
    <div class="content">
        <div class="menu-container" id="menu-container">
            <div class='left-bar' id="left-bar">
                <div class='img-bar'>
                    <a href="/">
                        <img src="{% static 'image/logo.png' %}" alt="Logo">
                    </a>
                </div>
                <div class='menu-bar'>
                    <div class='item-container'>
                        <div class='item-icon'>
                            <div class='icon'>
                                <i class="far fa-smile"></i>
                            </div>
                            <h2>Tools</h2>
                            <p>Play To Relax</p>
                            <div class="btn-menu">
                                <a style="text-decoration: none" href="{% url 'menu'%}">
                                    <button type="button"><span></span>Back menu</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Prepare for tool 1 -->
            <!-- Process bar -->
            <div class="process-bar" id="process-bar">
                <div class="outer" id="outer">
                    <div class="inner" id="inner">
                        <div id="percent"></div>
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="svg-circle" width="160px" height="160px">
                    <defs id="defs">
                        <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#e91e63" />
                            <stop offset="100%" stop-color="#673ab7" />
                        </linearGradient>
                    </defs>
                    <circle id="circle" cx="80" cy="80" r="70" stroke-linecap="round" />
                    <animate xlink:href="#circle" attributeType="CSS" attributeName="stroke-dashoffset"
                        from="calc(2 * 3.14159265 * 70)" to="0" dur="1s" begin="click" fill="freeze" id="circle-anim" />
                </svg>
            </div>
            <!-- Announcement -->
            <div id="daijoubu-announcement">
                <p id="daijoubu-announcement-state">Success!</p>
                <p id="daijoubu-announcement-content">Mong ước của bạn đã trở thành hiện thực. Nếu nó không trở thành
                    hiện thực, bạn hãy thử lại lần nữa đi.</p>
                <button id="daijoubu-announcement-close-btn">Close</button>
            </div>

            <!-- Bảng -->
            <div class="content-tool" id="content-tool">
                <table class="table-tool">
                    <tr class="row-0 border-bottom-rows">
                        <td class="col-tool">
                            <p class="tool-name">Wish Realing</p>
                            <p><em>Mô tả</em>: Nhấn vào chiếc hộp này trong khi đang nghĩ về thứ bạn cần và bạn sẽ có
                                được nó.</p>
                        </td>
                        <td class="col-tool">
                            <button type="button" id="daijoubu-btn">
                                <div class="cube">
                                    <div class="top"></div>
                                    <div>
                                        <span style="--i:0;"></span>
                                        <span style="--i:1;"></span>
                                        <span style="--i:2;"></span>
                                        <span style="--i:3;"></span>
                                    </div>
                                </div>
                            </button>
                        </td>
                    </tr>

                    <tr class="row-0">
                        <td class="col-tool">
                            <img src="/static/image/snakegame-icon.png" alt="" id="snakegame-icon">
                            <p>Snake Game</p>
                        </td>
                        <td class="col-tool">
                            <a style="text-decoration: none" href="{% url 'snakegame' %}">
                                <button id="play-btn">Play Snake Game</button>
                            </a>
                        </td>
                    </tr>
                    

                </table>
            </div>
        </div>
    </div>
</body>

<script src="{% static 'js/tools.js' %}"></script>

</html>