*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    color: #211513;
}
.container-menu{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url("../../image/backgroundHome.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: scroll;
}
.left-bar{
    background: linear-gradient(0deg, rgba(184, 127, 127, 0.3), rgba(184, 127, 127, 0.3));
    border: 1px solid #211513;
    width: 20%;
    height: 100%;
    position: relative;
}
.img-bar{
    margin: 30px auto;
    width: 55%;
 }
 .img-bar a img{
    width: 100%;
    object-fit: cover;
 }
.container-navigations{
    position: absolute;
    width: 100%;
    /* top: 50%; */
    height: 100%;
    display: none;
}
.navigations{
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
}
.navigations i{
    color: #211513; 
    font-size: 18pt;
    margin: 0 5px;
    transition-duration: 0.2s;
}
.navigations i:hover{
    transform: scale(2);
}
.menu-bar{
    border: 1px solid #211513;
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}
.menu-bar:hover{
    background: rgba(242, 187, 123, 0.5);
}
.menu-bar:hover button{
    display: block;
    animation-name: change;
    animation-duration: 2s;
}
@keyframes change{
    from{opacity: 0;}
    to{opacity: 1;}
}
.bookmarks{
    margin: 5% 3%;
}
.bookmarks p{
    font-size: 15pt;
    position: relative;
    list-style: none;
    display: inline-block;
}
.bookmarks p::after{
    position: absolute;
    content: '';
    height: 3px;
    width: 100%;
    left: 0;
    background-color: #211513;
    bottom: -50px;
}
.item-container{
    position: absolute;
    top: 25%;
    width: 100%;
}
.item-icon{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.icon{
    display: inline-block;
    margin: 10% 0;
    padding: 12%;
    border: solid 2px #211513;
    border-radius: 50%;
}
.icon i{
    font-size: 50px;
    color: #211513;
}
.item-icon h2{
    margin: 9% 0;
    font-size: 48px;
    font-weight: 800;
}
.item-icon p{
    margin: 15% 0;
    font-size: 24px;
    font-weight: 700;
}
.btn-menu{
    margin: 15% 0;
}
.btn-menu button{
    padding: 3% 0;
    background-color: #FDF5CA;
    width: 100%;
    font-size: 36px;
    font-weight: 700;
    border-radius: none;
    display: none;
}


.mySlides {
    display: none;
    height: 100%;
    width: 100%;
}

.slideshow-container {
    width: 100%;
    position: relative;
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: .5s;
    animation-name: fade;
    animation-duration: .5s;
}

@-webkit-keyframes fade {
    from {opacity: .1} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .1} 
    to {opacity: 1}
}

@media (max-width: 925px) {
    .item-icon h2, .item-icon p {
        font-size: 28px;
        margin: 0;
        word-wrap: break-word;
        word-break: keep-all;
    }

    .left-bar {
        min-width: 30%;
        width: 100%;
    }

    .menu-bar {
        /* max-width: 45%;
        min-width: 30%; */
        width: 100%;
    }
}

@media (max-width: 500px) {
    .default-menu-tab {
        display: none;
    }

    .slideshow-container, .container-navigations {
        display: block;
    }
}
